* text=auto !eol
/CertificateToolQuickStart.rtf -text
/OWL-CHANGELOG.txt -text
api/pom.xml -text
api/src/main/java/com/rsmart/certification/api/BaseCertificateDefinition.java -text
api/src/main/java/com/rsmart/certification/api/CertificateDefinition.java -text
api/src/main/java/com/rsmart/certification/api/CertificateDefinitionStatus.java -text
api/src/main/java/com/rsmart/certification/api/CertificateService.java -text
api/src/main/java/com/rsmart/certification/api/CertificationException.java -text
api/src/main/java/com/rsmart/certification/api/DocumentTemplate.java -text
api/src/main/java/com/rsmart/certification/api/DocumentTemplateException.java -text
api/src/main/java/com/rsmart/certification/api/DocumentTemplateRenderEngine.java -text
api/src/main/java/com/rsmart/certification/api/DocumentTemplateService.java -text
api/src/main/java/com/rsmart/certification/api/IncompleteCertificateDefinitionException.java -text
api/src/main/java/com/rsmart/certification/api/InvalidCertificateDefinitionException.java -text
api/src/main/java/com/rsmart/certification/api/ReportRow.java -text
api/src/main/java/com/rsmart/certification/api/TemplateReadException.java -text
api/src/main/java/com/rsmart/certification/api/UnmetCriteriaException.java -text
api/src/main/java/com/rsmart/certification/api/UnmodifiableCertificateDefinitionException.java -text
api/src/main/java/com/rsmart/certification/api/UnsupportedTemplateTypeException.java -text
api/src/main/java/com/rsmart/certification/api/VariableResolutionException.java -text
api/src/main/java/com/rsmart/certification/api/VariableResolver.java -text
api/src/main/java/com/rsmart/certification/api/criteria/CriteriaFactory.java -text
api/src/main/java/com/rsmart/certification/api/criteria/CriteriaTemplate.java -text
api/src/main/java/com/rsmart/certification/api/criteria/CriteriaTemplateVariable.java -text
api/src/main/java/com/rsmart/certification/api/criteria/Criterion.java -text
api/src/main/java/com/rsmart/certification/api/criteria/CriterionCreationException.java -text
api/src/main/java/com/rsmart/certification/api/criteria/CriterionProgress.java -text
api/src/main/java/com/rsmart/certification/api/criteria/InvalidBindingException.java -text
api/src/main/java/com/rsmart/certification/api/criteria/UnknownCriterionTypeException.java -text
api/src/main/java/com/rsmart/certification/api/criteria/UserProgress.java -text
api/src/main/java/com/rsmart/certification/api/utils/IExtraUserPropertyUtility.java -text
deploy/pom.xml -text
impl/pom.xml -text
impl/src/main/bundle/com/rsmart/certification/Messages.properties -text
impl/src/main/java/com/rsmart/certification/criteria/impl/gradebook/AssignmentFilter.java -text
impl/src/main/java/com/rsmart/certification/criteria/impl/gradebook/AssignmentLabeler.java -text
impl/src/main/java/com/rsmart/certification/criteria/impl/gradebook/DueDatePassedCriteriaTemplate.java -text
impl/src/main/java/com/rsmart/certification/criteria/impl/gradebook/FinalGradeScoreCriteriaTemplate.java -text
impl/src/main/java/com/rsmart/certification/criteria/impl/gradebook/GradebookCriteriaFactory.java -text
impl/src/main/java/com/rsmart/certification/criteria/impl/gradebook/GradebookItemCriteriaTemplate.java -text
impl/src/main/java/com/rsmart/certification/criteria/impl/gradebook/GradebookItemTemplateVariable.java -text
impl/src/main/java/com/rsmart/certification/criteria/impl/gradebook/GreaterThanScoreCriteriaTemplate.java -text
impl/src/main/java/com/rsmart/certification/criteria/impl/gradebook/ScoreTemplateVariable.java -text
impl/src/main/java/com/rsmart/certification/criteria/impl/gradebook/SecureGradebookActionCallback.java -text
impl/src/main/java/com/rsmart/certification/criteria/impl/gradebook/WillExpireCriteriaTemplate.java -text
impl/src/main/java/com/rsmart/certification/impl/AbstractVariableResolver.java -text
impl/src/main/java/com/rsmart/certification/impl/AwardVariableResolver.java -text
impl/src/main/java/com/rsmart/certification/impl/DocumentTemplateServiceImpl.java -text
impl/src/main/java/com/rsmart/certification/impl/ExpiryOffsetTemplateVariable.java -text
impl/src/main/java/com/rsmart/certification/impl/GradeCache.java -text
impl/src/main/java/com/rsmart/certification/impl/GradebookVariableResolver.java -text
impl/src/main/java/com/rsmart/certification/impl/ITextDocumentTemplateRenderEngine.java -text
impl/src/main/java/com/rsmart/certification/impl/RecipientVariableResolver.java -text
impl/src/main/java/com/rsmart/certification/impl/SecureGradebookActionCallback.java -text
impl/src/main/java/com/rsmart/certification/impl/hibernate/CertificateServiceHibernateImpl.java -text
impl/src/main/java/com/rsmart/certification/impl/hibernate/SecureCertificateServiceCallback.java -text
impl/src/main/java/com/rsmart/certification/impl/utils/ExtraUserPropertyUtilityImpl.java -text
mock-impl/pom.xml -text
mock-impl/src/main/bundle/com.rsmart.certification.mock/Messages.properties -text
mock-impl/src/main/java/com/rsmart/certification/mock/MockAwardCriteria.java -text
mock-impl/src/main/java/com/rsmart/certification/mock/MockCertificateAward.java -text
mock-impl/src/main/java/com/rsmart/certification/mock/MockCertificateDefinition.java -text
mock-impl/src/main/java/com/rsmart/certification/mock/MockCertificateService.java -text
mock-impl/src/main/java/com/rsmart/certification/mock/MockDocumentTemplate.java -text
mock-impl/src/main/java/com/rsmart/certification/mock/MockDocumentTemplateRenderEngine.java -text
mock-impl/src/main/java/com/rsmart/certification/mock/MockDocumentTemplateService.java -text
mock-impl/src/main/java/com/rsmart/certification/mock/MockUserDirectoryService.java -text
mock-impl/src/main/java/com/rsmart/certification/mock/criteria/MockCriteriaFactory.java -text
mock-impl/src/main/resources/afghanistan.pdf -text
mock-impl/src/main/resources/afghanistan2.pdf -text
mock-impl/src/test/java/com/rsmart/certification/test/TestCertificateService.java -text
mock-impl/src/test/resources/com.rsmart.certification.test.TestCertificateService.xml -text
mock-impl/src/test/resources/log4j.properties -text
mock-pack/pom.xml -text
mock-pack/src/webapp/WEB-INF/components.xml -text
model/pom.xml -text
model/src/main/hibernate/com/rsmart/certification/impl/hibernate/CertificateDefinitionHibernateImpl.hbm.xml -text
model/src/main/hibernate/com/rsmart/certification/impl/hibernate/DocumentTemplateHibernateImpl.hbm.xml -text
model/src/main/hibernate/com/rsmart/certification/impl/hibernate/criteria/AbstractCriterionHibernateImpl.hbm.xml -text
model/src/main/hibernate/com/rsmart/certification/impl/hibernate/criteria/DueDatePassedCriterionHibernateImpl.hbm.xml -text
model/src/main/hibernate/com/rsmart/certification/impl/hibernate/criteria/FinalGradeScoreCriterionHibernateImpl.hbm.xml -text
model/src/main/hibernate/com/rsmart/certification/impl/hibernate/criteria/GreaterThanScoreCriterionHibernateImpl.hbm.xml -text
model/src/main/hibernate/com/rsmart/certification/impl/hibernate/criteria/WillExpireCriterionHibernateImpl.hbm.xml -text
model/src/main/hibernate/com/rsmart/certification/impl/hibernate/criteria/gradebook/CertAssignment.hbm.xml -text
model/src/main/hibernate/com/rsmart/certification/impl/hibernate/criteria/gradebook/CertCategory.hbm.xml -text
model/src/main/hibernate/com/rsmart/certification/impl/hibernate/criteria/gradebook/CertGradeRecord.hbm.xml -text
model/src/main/hibernate/com/rsmart/certification/impl/hibernate/criteria/gradebook/CertGradebook.hbm.xml -text
model/src/main/java/com/rsmart/certification/impl/hibernate/CertificateDefinitionHibernateImpl.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/CertificateDefinitionStatusEnumUserType.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/DocumentTemplateHibernateImpl.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/criteria/AbstractCriterionHibernateImpl.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/criteria/gradebook/CertAssignment.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/criteria/gradebook/CertAssignmentScore.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/criteria/gradebook/CertCategory.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/criteria/gradebook/CertGradeRecordObject.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/criteria/gradebook/CertGradebook.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/criteria/gradebook/CertGradebookObject.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/criteria/gradebook/DueDatePassedCriterionHibernateImpl.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/criteria/gradebook/FinalGradeScoreCriterionHibernateImpl.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/criteria/gradebook/GradebookItemCriterionHibernateImpl.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/criteria/gradebook/GreaterThanScoreCriterionHibernateImpl.java -text
model/src/main/java/com/rsmart/certification/impl/hibernate/criteria/gradebook/WillExpireCriterionHibernateImpl.java -text
pack/pom.xml -text
pack/src/webapp/WEB-INF/components.xml -text
/pom.xml -text
tool/pom.xml -text
tool/src/main/bundle/com/rsmart/certification/tool/Messages.properties -text
tool/src/main/java/com/rsmart/certification/tool/BaseCertificateController.java -text
tool/src/main/java/com/rsmart/certification/tool/CertificateEditController.java -text
tool/src/main/java/com/rsmart/certification/tool/CertificateListController.java -text
tool/src/main/java/com/rsmart/certification/tool/utils/CertificateToolState.java -text
tool/src/main/java/com/rsmart/certification/tool/validator/CertificateDefinitionValidator.java -text
tool/src/main/webapp/WEB-INF/applicationContext.xml -text
tool/src/main/webapp/WEB-INF/css/certification.css -text
tool/src/main/webapp/WEB-INF/css/jquery-ui.css -text
tool/src/main/webapp/WEB-INF/images/calendar.gif -text
tool/src/main/webapp/WEB-INF/images/down_arrow.gif -text
tool/src/main/webapp/WEB-INF/images/indicator.gif -text
tool/src/main/webapp/WEB-INF/images/right_arrow.gif -text
tool/src/main/webapp/WEB-INF/js/jquery-1.8.3.js -text
tool/src/main/webapp/WEB-INF/js/jquery-ui.js -text
tool/src/main/webapp/WEB-INF/jsp/certviewAdmin.jsp -text
tool/src/main/webapp/WEB-INF/jsp/certviewParticipant.jsp -text
tool/src/main/webapp/WEB-INF/jsp/certviewUnauthorized.jsp -text
tool/src/main/webapp/WEB-INF/jsp/createCertificateFour.jsp -text
tool/src/main/webapp/WEB-INF/jsp/createCertificateOne.jsp -text
tool/src/main/webapp/WEB-INF/jsp/createCertificateThree.jsp -text
tool/src/main/webapp/WEB-INF/jsp/createCertificateTwo.jsp -text
tool/src/main/webapp/WEB-INF/jsp/footer.jsp -text
tool/src/main/webapp/WEB-INF/jsp/header.jsp -text
tool/src/main/webapp/WEB-INF/jsp/include.jsp -text
tool/src/main/webapp/WEB-INF/jsp/printPreview.jsp -text
tool/src/main/webapp/WEB-INF/jsp/reportView.jsp -text
tool/src/main/webapp/WEB-INF/spring.tld -text
tool/src/main/webapp/WEB-INF/springmvc-servlet.xml -text
tool/src/main/webapp/WEB-INF/web.xml -text
tool/src/main/webapp/tools/com.rsmart.certification.xml -text
tool/src/test/mockdata/README.txt -text
tool/src/test/mockdata/certificationtestdata.sql -text
tool/src/test/mockdata/templates/bogus[!!-~]site_id/015 -text
tool/src/test/mockdata/templates/bogus[!!-~]site_id/016 -text
tool/src/test/mockdata/templates/bogus[!!-~]site_id/020 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/001 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/002 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/003 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/004 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/005 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/006 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/007 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/008 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/009 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/010 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/011 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/012 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/013 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/014 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/017 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/018 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/019 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/021 -text
tool/src/test/mockdata/templates/real[!!-~]site_id/022 -text
